<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Categorie</title>
    </head>

    <body>
        <header>
            Categorie : <a href="/">Home</a> |
                        <a href="/photo">Photo</a>
        </header>
            
        <div>
            <ul>
                <li><a href="/photo/index/Famille">Famille</a></li>
                <li><a href="/photo/index/Amis">Amis</a></li>
                <li><a href="/photo/index/Vacance">Vacance</a></li>
                <li><a href="/photo/index/Autres">Autres</a></li>
            </ul>
        </div>
    </body>
</html>


