<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Inscription terminée</title>
    </head>
    <body>
        Inscription effectuée avec succès.
        <br />
        {% if mail %}
            un email est envoyé, vous devez activer votre compte.
        {% endif %}
        <a href="/">Home</a>
        <br />
    </body>
</html>


