{% extends "/layout.twig" %}

{% block title %} {{parent()}} - Edit Status{% endblock title %}
{#---Header---#}
{%block header%}
    <header class="bar-top"></header>
{%endblock header%}
    
{%block content%}
    <div class="span6 offset3 well2">
    <body>
        <div class="alert alert-success text-center">Inscription effectuée avec succès.</div>
      
        {% if mail %}
        <div class="alert alert-info text-center">Un email est envoyé, vous devez activer votre compte.  </div>
        {% endif %}
     
    </div>
    </div> 
{%endblock content%}


