<html>
    
    <head>
        <script src="/assets/js/jquery-1.7.1.min.js"></script>
    </head>
    <body>
        <p>Page ZEYDA</p>
        
        <div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    // init the FB JS SDK
    FB.init({
      appId      : '363080523800820', // App ID from the App Dashboard
      channelUrl : 'http://localhost:8094/', // Channel File for x-domain communication
      status     : true, // check the login status upon init?
      cookie     : true, // set sessions cookies to allow your server to access the session?
      xfbml      : true  // parse XFBML tags on this page?
    });

    // Additional initialization code such as adding Event Listeners goes here
         FB.getLoginStatus(function(response) {
  if (response.status === 'connected') {
    // the user is logged in and has authenticated your
    // app, and response.authResponse supplies
    // the user's ID, a valid access token, a signed
    // request, and the time the access token 
    // and signed request each expire
    $('.fbothentif').hide(); 
    $('#loginsmart').hide();
    $('#inscrismart').hide();
    $('#logoutsmart').show();
    var uid = response.authResponse.userID;
    var accessToken = response.authResponse.accessToken;
  } else if (response.status === 'not_authorized') {
      $('.fbothentif').show();
       $('#loginsmart').show();
       $('#inscrismart').show();
       $('#logoutsmart').hide();
    // the user is logged in to Facebook, 
    // but has not authenticated your app
  } else {
      $('.fbothentif').show();
       $('#loginsmart').show();
       $('#inscrismart').show();
       $('#logoutsmart').hide();
    // the user isn't logged in to Facebook.
  }
 });
 
   $('#logoutsmart').on('click', function(){
       FB.logout(function(response) {
            // user is now logged out
        });
    });
 
  };

  // Load the SDK's source Asynchronously
  // Note that the debug version is being actively developed and might 
  // contain some type checks that are overly strict. 
  // Please report such bugs using the bugs tool.
  (function(d, debug){
     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement('script'); js.id = id; js.async = true;
     js.src = "//connect.facebook.net/en_US/all" + (debug ? "/debug" : "") + ".js";
     ref.parentNode.insertBefore(js, ref);
   }(document, /*debug*/ false));
   
    
</script>
        
        
page home : {% if getsessionhelper() %} {{ getsessionhelper()['username'] }} | <a href="/inscription/logout" id='logoutsmart' style="display: none;"> logout </a> {% else %} <a id="loginsmart" href="/inscription/login" style="display: none;"> Login </a> {% endif %}
<a href="/inscription/logout" id='logoutsmart' style="display: none;"> logout </a>
<br>
<a href="/">Home</a> <br/>
<a id="inscrismart" href="/inscription" style="display: none;"> Inscription </a> <br/> 
Inscription avec Facebook:
<br>
<div class="fbothentif">
<fb:login-button registration-url="/inscription/loginfb" />
</div>

    </body>

</html>

