<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Inscription</title>
    </head>
    <body>
        <header>
            Home page : <a href="/">Home</a> |
            <a href="/inscription/login">Login</a> |
            <a href="/inscription/inscriptionfb">Inscription avec votre compte Facebook</a>
        </header>

        {{ validation_errors() }}

        <form action="inscription/saveform" method="POST" >
            <label>Nom Complet:</label>
            <input type="text" name="nom" required="required"/>
            <br/>
            <label>Email:</label>
            <input type="email" name="email" required="required"/>
            <br/>
            <label>Mot de Passe:</label>
            <input type="password" name="password" required="required"/>
            <br/>
            <label>Confirmer mot de Passe:</label>
            <input type="password" name="password2" required="required"/>
            <br/>
            <input type="submit" value="Enregistrer"/>
        </form>
    </body>
</html>


