<! DOCTYPE html>
<html>
<body>
page Inscription :
<br>

{{ validation_errors() }}
<br/>

<form action="inscription/saveform" method="POST" >
    <label>Nom Complet:</label> 
    <input type="text" name="nom" required="required"/>
    <br/>
    <label>Email:</label> 
    <input type="email" name="email" required="required"/>
    <br/>
    <label>Mot de Passe:</label> 
    <input type="password" name="password" required="required"/>
    <br/>
    <label>Confirmer mot de Passe:</label> 
    <input type="password" name="password2" required="required"/>
    <br/><br/><br/> 
    <input type="submit" value="Enregistrer"/>

</form>

</body>
</html>