{% extends "/layout.twig" %}

{% block title %} {{parent()}} - Edit Password{% endblock title %}
{#---Header---#}
{%block header%}
    <header class="bar-top"></header>
{%endblock header%}
    
{%block content%}
    <div class="span4 offset4 well2">
        <ul class="nav nav-pills" style="border-bottom: 1px solid rgb(180, 179, 179)">
            <li><a href="/profil"><i class="icon-eye-open"></i> View profil</a></li>
            <li><a href="/profil/modifier_profil"><i class="icon-lock"></i> Edit profile</a></li>
        </ul>
        <form method="POST" action="" accept-charset="UTF-8">
            <fieldset>
                <legend>Edit Password</legend>
                <input type="password" class="span4" name="old" placeholder="Old Password" required="required"/>
                <div class="text-error">{{ form_error('old') }}</div>

                <input type="password" class="span4" name="new" placeholder="New Password" required="required"/>
                <div class="text-error">{{ form_error('new') }}</div>

                <input type="password" class="span4" name="renew" placeholder="Confirm Password" required="required"/>
                <div class="text-error">{{ form_error('renew') }}</div>

                <input type="submit" name="submit" class="btn btn-block btn-inverse" value="Edit Password">
            </fieldset>
        </form>
    </div> 
{%endblock content%}


