<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Modifier mot de passe</title>
    </head>

    <body>
        <p>
            Profil | <a href="/profil">Profil</a> |
            <a href="/">Home</a>
        </p>
        
        <form action="" method="post">
            <label>
                <strong>Ancien mot de passe</strong>
            </label>
            <input type="password" name="old" />
            {{ form_error('old') }}
            <br />
            <label>
                <strong>Nouveau mot de passe</strong>
            </label>
            <input type="password" name="new" />
            {{ form_error('new') }}
            <br />
            <label>
                <strong>Retaper mot de passe</strong>
            </label>
            <input type="password" name="renew" />
            {{ form_error('renew') }}
            <br />
            <input type="submit" value="Modifier" />
        </form>
    </body>
</html>


