
{% extends "/layout.twig" %}

{% block title %} {{parent()}} - Edit Status{% endblock title %}
{#---Header---#}
{%block header%}
    <header class="bar-top"></header>
{%endblock header%}
    
{%block content%}
    <div class="row">
        <div class="span4 offset4 well2">
            <form method="POST" action="" accept-charset="UTF-8">
                <fieldset>
                    <legend>Edit Status</legend>
                    <div class="error-form">
                        {{ validation_errors() }}
                    </div>
                    <label>Category</label>
                    <select name="cat" class="span4">
                        <option value="Family">Family</option>
                        <option value="Freinds">Freinds</option>
                        <option value="Holiday">Holiday</option>
                        <option value="Other">Other</option> 
                    </select>
                    <label>Status</label>
                    <textarea name="statut" class="span4" rows="5">{{ set_value('statut', s) }}</textarea>
                    {{ form_error('statut') }}
                    <input type="submit" name="submit" class="btn btn-block btn-inverse" value="Edit">
                 </fieldset>
            </form>    
        </div>
   </div>
{%endblock content%}
 