{% extends "/layout.twig" %}

{% block title %} {{parent()}} - New Status{% endblock title %}
{#---Header---#}
{%block header%}
    <header class="bar-top"></header>
{%endblock header%}
    
{%block content%}
    <div class="span4 offset4 well2">
            <form method="POST" action="" accept-charset="UTF-8">
            <fieldset>
                <legend> New Status </legend>
                
                <textarea name="statut" class="span4" rows="4" placeholder="write your Status">{{ set_value('statut') }}</textarea>
                <div class="text-error">{{ form_error('statut') }}</div>

                

                <input type="submit" name="submit" class="btn btn-block btn-inverse" value="Add Status">
            </fieldset>
        </form>
    </div> 
{%endblock content%}

