{% extends "/layout.twig" %}

{% block title %} {{parent()}} - Profil{% endblock title %}
{#---Header---#}
{%block header%}
    <header class="bar-top"></header>
{%endblock header%}
    
{%block content%}
    <div class="span4 offset4 well2">
        <ul class="nav nav-pills" style="border-bottom: 1px solid rgb(180, 179, 179)">
            <li><a href="/profil/modifier_profil"><i class="icon-edit"></i> Edit profil</a></li>
            <li><a href="/profil/modifier_password"><i class="icon-lock"></i> Edit Password</a></li>
        </ul>
        <div class="span5">
            <p><strong>Name : </strong> {{ getsessionhelper()['nom'] }} </p>
            <p><strong>Email : </strong> {{ getsessionhelper()['email'] }}</p>
        </div>
    </div>
   
{%endblock content%}

