<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Upload image</title>
    </head>
    <body>
        <header>
            Upload page : <a href="/">Home</a>
        </header>
            
        <p>page Upload :</p>
        <form action="frontend/do_upload" method="POST" >
            <input type="file" name="userfile" size="20" />
            <br />
            <input type="submit" value="upload" />
        </form>
    </body>
</html>


