<! DOCTYPE html>
<html>
<body>
page Upload :
<br>

{{ form_open_multipart('frontend/do_upload') }}

    <input type="file" name="userfile" size="20" />
    <br>
<input type="submit" value="upload" />
</form>

</body>
</html>