h2 { text-align: center;}

.introsmart { 

}

.connexion {
    display: none;
}	

.alert-error p {
    font-weight: bold;
}

.CarouselImg {
    width: auto;
    height: 370px;
    max-height: 370px;
}

.picture-icon {
    background-image: url('../img/picture.png');
    background-repeat: no-repeat;
    padding-left: 22px;
    margin-left: 23px;
} 
.whrite-icon {
    background-image: url('../img/write.png');
    background-repeat: no-repeat;
    padding-left: 22px;
    margin-left: 23px;
} 
.tchat-icon {
    background-image: url('../img/tchat.png');
    background-repeat: no-repeat;
    padding-left: 22px;
    margin-left: 23px;
} 
.photo-icon {
    background-image: url('../img/photo.png');
    background-repeat: no-repeat;
    padding-left: 22px;
    margin-left: 23px;
} 

.well2 {
    min-height: 20px;
    padding: 19px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(255,255,255,0.5);
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.53);
}

.well3{
    min-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: white;
}
.load {
    position: absolute;
    background-color: rgba(148, 147, 147, 0.41);
    width: 100%;
    height: 100%;
}
.bar-top{
    background-image: url('../img/barre.jpg');
    background-repeat: no-repeat;
    background-size: 100%; 
    height: 186px;
    margin-bottom: 19px;
}

.error-form p {
    color: #b94a48;
    background-color: #f2dede;
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);

    border: 1px solid rgb(206, 129, 135);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/*images effect*/
/* Portolio Hover */
.da-thumbs li ,
.da-thumbs li  img {
    display: block;
    position: relative;
}
.da-thumbs li  {
    overflow: hidden;
}
.da-thumbs li article {
    position: absolute;
    background-image:url(../img/image_hover.png);
    background-repeat:repeat;
    width: 100%;
    height: 100%;
}
.da-thumbs li article.da-animate {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
/* Initial state classes: */
.da-slideFromTop {
    left: 0px;
    top: -100%;
}
.da-slideFromBottom {
    left: 0px;
    top: 100%;
}
.da-slideFromLeft {
    top: 0px; 
    left: -100%;
}
.da-slideFromRight {
    top: 0px;
    left: 100%;
}
/* Final state classes: */
.da-slideTop {
    top: 0px;
}
.da-slideLeft {
    left: 0px;
}
.da-thumbs li  article a {
    color:#fff;
    padding: 9px 2px 0px 1px;
    display:block;
}

.da-thumbs {
    text-align:center;
    margin: 0;
}

.da-thumbs li  article h3{
    color:#fff;
    padding-top:30px;
}

.da-thumbs li  article em{
    margin-top: 75px;
    color:#fff;
    display:block;
}

.da-thumbs li  article span{
    display:inline-block;
}

span.link{
    display:block;
    width:35px;
    height:35px;
    background-color:white;
    border-radius:50px;
    cursor:pointer;
    background-repeat:no-repeat;
    background-position:center;
    margin-right:10px;
    margin-top: 11px;
}
span.link:hover{background-color: #f1f1f1}

.portfolio_2col article h3{
    padding-top:70px !important;
}

/* Image Grid */
.image_grid {
    float:left;
    overflow:hidden;
    position:relative;

}

.image_grid li{
    float: left;
    line-height: 17px;
    color: #686f74;
    list-style:none;
    overflow:hidden;
/*    margin-bottom:23px;
    margin-right:23px;*/
    text-align:center;
}


/* Responsive image grid*/
/* Mobile landscape width 320 */
@media only screen and (max-width: 767px) {


    .image_grid li img{
        width:220px;
    }

    .portfolio_4col .da-thumbs li article h3{
        padding-top:70px;
    }

    .portfolio_3col .da-thumbs li article h3{
        padding-top:50px;
    }

    .portfolio_2col .da-thumbs li article h3{
        padding-top:53px !important;
    }

}


@media only screen and (min-width: 480px) and (max-width: 767px) {

    .image_grid{
        width:450px;
    }

    .image_grid li{
        width:178px !important;
    }

    .portfolio_4col .da-thumbs li article h3{
        padding-top:58px;
    }

    .portfolio_3col .da-thumbs li article h3{
        padding-top:34px;
    }

    .portfolio_2col .da-thumbs li article h3{
        padding-top:23px !important;
    }

}


